/* General styles of Layout */
::after,
::before,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.125rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

:root {
  /* Primary */
  --active-input-border-color-from: hsl(249, 99%, 64%);
  --active-input-border-color-to: hsl(278, 94%, 30%);
  --input-error-color: hsl(0, 100%, 66%);

  /* Neutral */
  --White-color: hsl(0, 0%, 100%);
  --Light-grayish-violet-color: hsl(270, 3%, 87%);
  --Dark-grayish-violet-color: hsl(279, 6%, 55%);
  --Very-dark-violet-color: hsl(278, 68%, 11%);
}
.App {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
}

.left {
  position: relative;
  background-image: url("../src/images/bg-main-desktop.png");
  grid-column: 1;
  grid-row: span 2;
  z-index: 0;
}
.right {
  background-color: var(--White-color);
  grid-column: 2 / span 3;
  grid-row: span 2;
  display: grid;
  place-items: center;
}
.CardBack,
.CardFront {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 88%;
  width: 88%;
  min-height: 30%;
  z-index: -3;
  position: absolute;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px rgba(92, 91, 91, 0.3);
}
.CardFront {
  background-image: url("../src/images/bg-card-front.png");
  top: 17%;
  transform: translateX(34%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--White-color);
  font-family: Space Grotesk;
  gap: 23px;
}
.CardBack {
  background-image: url("../src/images/bg-card-back.png");
  transform: translate(55%);
  bottom: 17%;
}
.cardBackSpan {
  position: absolute;
  right: 12%;
  top: 42%;
  font-size: 0.9rem;
  color: var(--Light-grayish-violet-color);
}

.FormContainer {
  max-width: 40%;
  width: 40%;
  min-height: 60%;
}

label {
  text-transform: uppercase;
  margin-bottom: 11px;
}
input {
  line-height: 1.2;
  cursor: pointer;
  height: 20px;
  padding: 5px 0;
  border-radius: 0.5rem;
  border: 1px solid var(--Dark-grayish-violet-color);
  animation: border 1s ease-in;
  height: 43px;
  padding: 0 16px;
}
input:placeholder-shown {
  color: var(--Dark-grayish-violet-color);
}
input:focus,
input:focus-visible,
input:focus-within,
input:hover {
  outline: 1px solid var(--active-input-border-color-to);
}
input[type="number"] {
  -moz-appearance: textfield;
}
button {
  cursor: pointer;
  text-transform: capitalize;
  padding: 1rem 0;
  background-color: var(--Very-dark-violet-color);
  color: var(--White-color);
  border-radius: 0.5rem;
  align-self: stretch;
  font-size: 1.125rem;
  margin: 5px 0;
}
.completeState {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  max-width: 381px;
}
footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  line-height: 2.5;
  transform: translateX(-50%);
  font-size: 1rem;
  margin-inline-start: 0.4rem;
  text-align: center;
}
/* Media quiries */
@media (max-width: 60em) {
  .App {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .left {
    background-image: url("../src/images/bg-main-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1;
  }
  .right {
    display: grid;
    place-items: center;
    margin-right: 5%;
  }
  .CardBack,
  .CardFront {
    max-width: 76%;
    width: 76%;
    min-height: 65%;
    z-index: -3;
    position: absolute;
  }
  .CardFront {
    transform: translate(4%, 60%);
  }

  .CardBack {
    transform: translateX(26%);
  }
  .cardBackSpan {
    position: absolute;
    right: 11%;
    top: 44%;
    font-size: 1rem;
  }
  .right {
    grid-column: 1;
    display: grid;
    place-items: center;
  }

  .FormContainer {
    max-width: 85%;
    width: 85%;
  }
  footer {
    font-size: 0.5rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
